<div class="row justify-content-md-center">
    <div class="col-md-6 col-lg-5">
		<p class="text-muted mb-2 px-2">会員メニュー</p>
		<div class="card border-0 shadow-sm mb-4">
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action d-flex align-items-center py-2" href="/sign-in">
                   <span>ログイン</span>
                   <i class="text-muted ml-auto fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <p class="text-muted mb-2 px-2">よく利用する</p>
        <div class="card shadow-sm border-0">
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action d-flex align-items-center py-2" href="/agent/doc?key=about-me">
                    <span>サイトについて</span>
                    <i class="text-muted ml-auto fas fa-chevron-right"></i>
                </a>
                <a class="list-group-item list-group-item-action d-flex align-items-center py-2" href="/agent/doc?key=about-buken">
                    <span>物件の掲載方法</span>
                    <i class="text-muted ml-auto fas fa-chevron-right"></i>
                </a>
                <a class="list-group-item list-group-item-action d-flex align-items-center py-2" href="/agent/doc?key=about-keep">
                    <span>物件の転載方法</span>
                    <i class="text-muted ml-auto fas fa-chevron-right"></i>
                </a>
                <a class="list-group-item list-group-item-action d-flex align-items-center py-2" href="/agent/doc?key=about-price">
                    <span>掲載＆転載料金</span>
                    <i class="text-muted ml-auto fas fa-chevron-right"></i>
                </a>
                <a class="list-group-item list-group-item-action d-flex align-items-center py-2" href="/agent/doc?key=terms">
                    <span>利用規約</span>
                    <i class="text-muted ml-auto fas fa-chevron-right"></i>
                </a>
                <a class="list-group-item list-group-item-action d-flex align-items-center py-2" href="/agent/doc?key=privacy">
                    <span>プライバシー・ポリシー</span>
                    <i class="text-muted ml-auto fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>